<div class="col3">

    <h2>Powered by</h2>
    <ul>
        <li><a href="https://www.djangoproject.com" target="_blank">Django Project</a></li>
        <li><a href="https://secure.valcato.com/aff.php?aff=146" target="_blank">Valcato Hosting</a></li>
    </ul>

</div>

<div class="col3">
    <h2>Links</h2>
    <ul>
        <li><a href="http://azuer88.alwaysdata.net" target="_blank">My Old Website</a></li>
        <li><a href="https://goo.gl/z1GuDj" target="_blank">My CNC Pages at G+</a></li>
    </ul>
</div>

<div class="col3">
    <h2>Share</h2>
    <ul>
        <li><g:plus action="share"></g:plus></li>
        <li><g:plusone></g:plusone></li>
</li>
    </ul>
</div>

<div class="bottom">

    <span class="left">&copy; 2015 <a href="azuer88.org">azuer88.org</a>. Valid <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> &amp; <a href="http://validator.w3.org/check?uri=referer">XHTML</a>.</span>
    <span class="right">Template design by <a href="http://templates.arcsin.se">Arcsin</a></span>

    <div class="clearer"><span></span></div>

</div>

<script >
  window.___gcfg = {
    data-size: 'small',
    data-annotation: 'none',
    parsetags: 'onload'
  };
</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
