{% load static from staticfiles %}
{

<h1>About me</h1>
<img id="me-photo" src="{% static 'img/me.png' %}" alt="me">
<p> If I must..</p>
<p>I am lazy, a miser.  Much like Shikamaru Nara, except without the genius part.
</p>
<p>I prefer to find easier ways of doing things, and tend to view the world obliquely.</p>
<p>What that means, ... is too much bothersome to explain.</p>

<h1>Under Construction</h1>
<p></p>
<ul>
    <li><a href="index.html">consequat molestie</a></li>
    <li><a href="index.html">sem justo</a></li>
    <li><a href="index.html">semper</a></li>
    <li><a href="index.html">magna sed purus</a></li>
</ul>

<h1>Sapien</h1>
<ul>
    <li><a href="index.html">sociis natoque</a></li>
    <li><a href="index.html">magna sed purus</a></li>
    <li><a href="index.html">tincidunt</a></li>
</ul>

<h1>Blandit Enim</h1>
<ul>
    <li><a href="index.html">consequat molestie</a></li>
    <li><a href="index.html">sem justo</a></li>
    <li><a href="index.html">semper</a></li>
    <li><a href="index.html">magna sed purus</a></li>
</ul>

<h1>Fringilla</h1>
<ul>
    <li><a href="index.html">sociis natoque</a></li>
    <li><a href="index.html">magna sed purus</a></li>
    <li><a href="index.html">tincidunt</a></li>
</ul>
