{% load static from staticfiles %}
{% load markdown_deux_tags %}

{% if aboutme %}
<!-- aboutme -->
<h1>{{ aboutme.title }}</h1>
{% if aboutme.image %}
<img id="me-photo" src="{{ aboutme.image.url }}" alt="me">
{% endif %}
{{ aboutme.content | markdown }}
{% endif %}

{% if news %}
    {% for n in news %}

        <h1>{{ n.title }}</h1>
        {% if n.image %}
        <img class="{% cycle 'news-left-photo' 'news-right-photo'" src="{{ n.image.url }}" alt="n.title" height="96px" width="96px">
        {% endif %}
        {{ n.content | markdown }}

    {% endfor %}
{% else %}
<!-- no news, is not so good news -->
{% endif %}