{% load static from staticfiles %}
{% load markdown_deux_tags %}

{% if aboutme %}
<!-- aboutme -->
<h1>{{ aboutme.title }}</h1>
{% if aboutme.image %}
<img id="me-photo" src="{{ aboutme.image.url }}" alt="me">
{% endif %}
{{ aboutme.content | markdown }}
{% endif %}

{% if news %}
    {% for n in news %}

        <h1>{{ n.title }}</h1>
        {% if n.image %}
        <img class="{% cycle 'news-left-photo' 'news-right-photo'" src="{{ n.image.url }}" alt="n.title">
        {% endif %}

        {{ n.content | markdown }}

    {% endfor %}
{% else %}
<!-- no news, is not so good news -->
{% endif %}

<h1>Markdwon Cheatsheet</h1>
{% markdown_cheatsheet %}
<h1>Under Construction</h1>
<ul>
    <li><a href="index.html">consequat molestie</a></li>
    <li><a href="index.html">sem justo</a></li>
    <li><a href="index.html">semper</a></li>
    <li><a href="index.html">magna sed purus</a></li>
</ul>

<h1>Sapien</h1>
<ul>
    <li><a href="index.html">sociis natoque</a></li>
    <li><a href="index.html">magna sed purus</a></li>
    <li><a href="index.html">tincidunt</a></li>
</ul>

<h1>Blandit Enim</h1>
<ul>
    <li><a href="index.html">consequat molestie</a></li>
    <li><a href="index.html">sem justo</a></li>
    <li><a href="index.html">semper</a></li>
    <li><a href="index.html">magna sed purus</a></li>
</ul>

<h1>Fringilla</h1>
<ul>
    <li><a href="index.html">sociis natoque</a></li>
    <li><a href="index.html">magna sed purus</a></li>
    <li><a href="index.html">tincidunt</a></li>
</ul>
